@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*{
    padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-color:rgb(236, 236, 236);
}
.container{
    width: 100%;
    margin-left: 15rem;
}
.image{
    width: 80px;
    height: auto;
}
.display{
    display: inline;
    gap: 10px;
    size: 50px;
}
.button{
    width: 5rem;
    height: 2rem;
}
.col-marg{
    margin-top: 1rem;
    margin-right: 1rem;
}
.col-marg2{
    margin-top: 3rem;
}
.border-box{
    box-shadow: inset;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 0.5px solid black;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #5f5f5f;
  }
  
  .searchTerm:focus{
    color:rgb(207, 207, 207);
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 0.5px solid black;
    background: grey;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
